[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/libigl"]
	path = external/libigl
	url = https://github.com/libigl/libigl.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "external/SphereMeshBlendShape"]
	path = external/SphereMeshBlendShape
	url = git@github.com:dame-time/SphereMeshBlendShape.git
